<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>All Orders</h1>
        <p id="pageLink">
            <a id="pageLink" href="/">Form Page</a>
        </p>
    </header>
    <main id="orders">
        <section >
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Postal Code</th>
                        <th>Province</th>
                        <th>Product One</th>
                        <th>Product Two</th>
                        <th>Product Three</th>
                        <th>Delivery Time</th>
                        <th>Sub Total</th>
                        <th>Tax</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        for(var order of orders)
                        {
                            %>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= order.email %></td>
                                <td><%= order.phone %></td>
                                <td><%= order.address %></td>
                                <td><%= order.city %></td>
                                <td><%= order.postalCode %></td>
                                <td><%= order.province %></td>
                                <td><%= order.productOne %></td>
                                <td><%= order.productTwo %></td>
                                <td><%= order.productThree %></td>
                                <td><%= order.deliveryTime %></td>
                                <td>$<%= order.subTotal.toFixed(2) %></td>
                                <td>$<%= order.tax.toFixed(2) %></td>
                                <td>$<%= order.total.toFixed(2) %></td>
                            </tr>
                            <%
                        }
                    %>
                </tbody>
            </table>            
        </section>
    </main>
</body>
</html>