<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>perfume shop</title>
</head>
<body>
    <header>
        <h1>Perfume Shop</h1>
        <p id="pageLink">        
            <a id="pageLink"  href="/allorders">Orders</a>
        </p>
    </header>
    <main>
        <form action="" name="myForm" method="Post" action="">
            <p class="products"><span class="underline">Perfume Scent Products:</span> <br>1. Clean Cotton ($40) , 2. Summer Breeze ($50), 3. Fancy Dinner ($60)</p>
            <br><br>
            <label class="label" for="name">Name*:</label>
            <input placeholder="First Last" type="text" name="name" id="name">
            <br><br>

            <label class="label" for="email">Email*:</label>
            <input placeholder="email@domain.com" type="email" name="email" id="email">
            <br><br>

            <label class="label" for="phone">Phone*:</label>
            <input placeholder="123-123-1234" type="tel" id="phone" name="phone">
            <br><br>

            <label class="label" for="address">Address*:</label>
            <input type="text" id="address" name="address">
            <br><br>

            <label class="label" for="city">City*:</label>
            <input type="text" id="city" name="city">
            <br><br>

            <label class="label" for="postalCode">Post Code*:</label>
            <input placeholder="X1X 1X1" type="text" id="postalCode" name="postalCode">
            <br><br>

            <label class="label" for="province">Province*:</label>
            <select id="province" name="province">
                <option value="alberta">Alberta</option>
                <option value="britishColumbia">British Columbia</option>
                <option value="manitoba">Manitoba</option>
                <option value="newBrunswick">New Brunswick</option>
                <option value="novaScotia">Nova Scotia</option>
                <option value="ontario">Ontario</option>
                <option value="newfoundland">Newfoundland & Labrador</option>
                <option value="pei">Prince Edward Island</option>
                <option value="saskatchewan">Saskatchewan</option>
                <option value="nwt">Northwest Territories</option>
                <option value="yukon">Yukon</option>
                <option value="nunavut">Nunavut</option>
            </select>
            <br><br>
            <p class="center">Please enter quantity of each desired product:</p>
            <label class="label"  for="productOne">Clean Cotton:</label>
            <input type="text" value="0" id="productOne" name="productOne">
            <br><br>

            <label class="label" for="productTwo">Summer Breeze:</label>
            <input type="text" id="productTwo" value="0" name="productTwo">
            <br><br>

            <label class="label" for="productThree">Fancy Dinner:</label>
            <input type="text" id="productThree" value="0" name="productThree">
            <br><br>

            <label class="label" for="deliveryTime">Delivery Time</label>
            <select id="deliveryTime" name="deliveryTime">
                <option value="oneDay">1 Day: $30</option>
                <option value="twoDays">2 Days: $25</option>
                <option value="threeDays">3 Days: $20</option>
                <option value="fourDays">4 Days: $15</option>
            </select>
            <br><br><br>

            <div class="order">            
                <input id="orderButton" value="Submit" type="submit">
            </div>
            <br><br>
            <p id="errors"></p>
        </form>
        <div class="formData">
                <%
                if(typeof(errors) != 'undefined'){
                  for(var error of errors){
                  %>
                    <p class="errors"><%= error.msg %></p>
                  <%
                  }
                }
              %>
              <%
                if(typeof(total) != 'undefined'){
                  %>
                  <p id="formResult">Your Receipt:</p>
                  <table>
                    <tr>
                      <th>Name: </th>
                      <td><%= name %></td>
                    </tr>
                    <tr>
                      <th>Email: </th>
                      <td><%= email %></td>
                    </tr>
                    <tr>
                      <th>Phone: </th>
                      <td><%= phone %></td>
                    </tr>
                    <tr>
                      <th>Address: </th>
                      <td><%= address %></td>
                    </tr>
                    <tr>
                      <th>City: </th>
                      <td><%= city %></td>
                    </tr>
                    <tr>
                      <th>Postal Code: </th>
                      <td><%= postalCode %></td>
                    </tr>
                    <tr>
                      <th>Province: </th>
                      <td><%= province %></td>
                    </tr>
                    <tr>
                      <th>Product 1: </th>
                      <td><%= productOne %></td>
                    </tr>
                    <tr>
                      <th>Product 2: </th>
                      <td><%= productTwo %></td>
                    </tr>                    
                    <tr>
                      <th>Product 3: </th>
                      <td><%= productThree %></td>
                    </tr>
                    <tr>
                      <th>Delivery Time: </th>
                      <td><%= deliveryTime %></td>
                    </tr>
                    <tr>
                      <th>Tax: </th>
                      <td>$<%= tax.toFixed(2) %></td>
                    </tr>                    
                    <tr>
                      <th>Sub Total: </th>
                      <td>$<%= subTotal.toFixed(2) %></td>
                    </tr>                    
                    <tr>
                      <th>Total: </th>
                      <td>$<%= total.toFixed(2) %></td>
                    </tr>
                  </table>
                  <%
                }
              %>
            </div>
        </div>
    </main>
</body>
</html>