@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

body
{
    background-image: url("../images/perfume.jpg");
    background-repeat: repeat-x repeat-y;
    background-size: 800px 600px;
    margin: auto;
    width: 800px;
    font-family: 'Comic Neue', cursive;
}
#pageLink
{
    text-decoration: none;
    text-align: center;
    color: hotpink;
    font-weight: bolder;
    margin: auto;
}
.center
{
    text-align: center;
}
form
{
    border: 4px solid purple;
    border-bottom: none;
    border-radius: 10mm;
    width: 500px;
    padding: 20px;
    margin: auto;
    background-color: pink;
    color: white;
}
#orders
{
    border: 4px solid purple;
    padding: 20px;
    margin: auto;
    margin: auto;
    width: fit-content;
    border-radius: 10mm;
    background-color: pink;
    color: white;
}
h1
{
    font-weight: bolder;
    text-align: center;
    color: hotpink;
}
.label
{    
    width: 30%;
    display: inline-block;
    padding-left: 45px;
    font-size: 25px;
}
select
{
    width: 32%;
    font-size: 20px;
}
input
{
    font-size: 20px;
}
#orderButton
{
    margin-right: 30px;
    display: inline-block;
    font-size: 20px;
}
.order
{
    width: 100%;
    text-align: center;
}
.formData
{
    border: 4px solid purple;
    border-top: none;
    border-radius: 10mm;
    width: 500px;
    padding: 20px;
    margin: auto;
    background-color: pink;
}
.products
{
    text-align: center;
    font-size: 20px;    
}
.underline
{
    text-decoration: underline;
}
#formResult, #errors
{
    width: 80%;    
    margin: auto;
    font-size: 35px;
}
table
{
    border: 2px solid white;
    border-collapse: collapse;
    margin: 20px auto;
    
}
td, th
{
    border: 2px solid white;
    padding: 5px 4px;    
}
th
{
    font-weight: bold;
}
